{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" /> 
	<title>Εσωτερικό Πρόβλημα</title>
	<link rel="stylesheet" type="text/css" href="{% static "main/assets/css/404.css" %}"/>
	<link href='https://fonts.googleapis.com/css?family=GFS+Didot&subset=greek' rel='stylesheet' type='text/css'>
</head>
<body>
<p class="message">Παρουσιάστηκε Εσωτερικό Πρόβλημα. Δοκιμάστε Αργότερα.</p>
<div class="quote">
		<p class="quote__text">Αν τελειοποιηθείς σε ένα μόνο πράγμα και το καταλάβεις καλά,<br/> αποκτάς και την κατανόηση και τη γνώση πολλών άλλων πραγμάτων.</p>
		<p class="quote__author">Vincent Van Gogh</p>
</div>

</body>
</html>