{% extends 'main/base.html' %}
{% load custom_filters %}

{% block content %}
<!-- The Team -->
<div class="row">
    <div id="content" class="8u 12u(mobile)">
        <article class="box post">
            <header>
                <h2 class="section-header--big section-header">Συντακτική Ομάδα</h2>
            </header>
            {% for bio in bios %}
                <p class="about__author"> {{bio.author_name}}</p>
                <p class="about__desc"> {{bio.author_cv}} </p>
            {% endfor %}
        </article>
    </div>
    <!-- Side Posts -->
    <div id="sidebar" class="4u 12u(mobile)">
        <section>
            <header>
                <h2 class="section-header">Πρόσφατα Άρθρα</h2>
            </header>
            <ul class="divided">
                {% for p in latest_posts %}
                    <li class="sidebar__article">
                        <article class="box highlight clearfix">
                            <a href="{% url 'main:articles' post_id=p.id %}" class="image sidebar__img">
                                <img src="{{p.image.image.url }}" alt=""/>
                            </a>
                            <div class="sidebar__text">
                                <h3 class="sidebar__title">{{ p.title }}</h3>
                                <div class="sidebar__desc">{{ p.text|trunc:28 }}</div>
                                <p class="sidebar__author">έγραψε ο {{ p.author.first_name }} {{ p.author.last_name }} </p>
                                <a href="{% url 'main:articles' post_id=p.id %}" class="c-btn">Συνεχιστε Εδω</a>
                            </div>  
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}
