{% load custom_filters %}
<div class="row">
    <div id="content" class="12u(mobile)">
        <article class="box post">
            <header>
                <h2 class="section-header">{{ main_title }}</h2>
            </header>
        </article>
        
        <!-- Post -->
        {% for p in posts_paginated %}
            <article class="box post c-post">
                <a href="{% url 'main:articles' post_id=p.id %}" class="image featured c-post__img">
                    <img src="{{ p.image.image.url }}" alt=""/>
                </a>
                <header class="c-post__head">
                    <h2><a href="{% url 'main:articles' post_id=p.id %}">{{ p.title|trunc:TITLE_COUNT }}</a></h2>
                </header>
                <div class="c-post__desc">{{ p.text|trunc:DESC_COUNT }}</div>
                <ul class="actions c-post__view">
                    <li><a href="{% url 'main:articles' post_id=p.id %}" class="c-btn c-btn--secondary">Διαβάστε Περισσότερα</a></li>
                </ul>
            </article>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
{% if not posts_paginated.paginator.num_pages == 1 %}
    <section>
        <nav id="pagination" role="navigation">
            <ul class="cd-pagination no-space custom-buttons">
                {% if not posts_paginated.has_previous %}
                    <li class="button"><a class="disabled" href="#">Prev</a></li>
                    <li><a class="current" href="#">1</a></li>
                    {% if posts_paginated.paginator.num_pages > 2 %}
                        <li><span>...</span></li>
                    {% endif %}
                    <li><a href="?page={{ posts_paginated.paginator.num_pages }}">{{ posts_paginated.paginator.num_pages }}</a></li>
                    <li class="button"><a href="?page={{ posts_paginated.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="button"><a href="?page={{ posts_paginated.previous_page_number }}">Prev</a></li>
                    <li><a href="?page=1">1</a></li>
                    {% if not posts_paginated.number == 2 %}
                        <li><span>...</span></li>
                    {% endif %}        
                    <li><a class="current" href="?page={{ posts_paginated.number }}">{{ posts_paginated.number }}</a></li>
                    {% if posts_paginated.has_next %}
                        {% if not posts_paginated.next_page_number == posts_paginated.paginator.num_pages %}<li><span>...</span></li> {% endif %}
                        <li><a href="?page={{ posts_paginated.paginator.num_pages }}">{{ posts_paginated.paginator.num_pages }}</a></li>
                        <li class="button"><a href="?page={{ posts_paginated.next_page_number }}">Next</a></li>    
                    {% else %}
                        <li class="button"><a class="disabled" href="#">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav> 
    </section>
{% endif %}
