{% extends 'main/base.html' %}
{% load custom_filters static %}
{% block extra_head %}
    <meta property="og:url"         content="https://strovilos.gr{{ request.path }}" />
    <meta property="og:title"       content="Στρόβιλος - Περιστρέφεται, παλινδρομεί και επιστρέφει"/>
    <meta property="og:description" content="Αν και είναι, μάλλον, πρόδηλο, ο Στρόβιλος είναι ένα ηλεκτρονικό περιοδικό ποικίλης ύλης. Τα τρία ρήματα που βρίσκονται κάτω από το λογότυπο εκφράζουν τους πόθους, τις ανησυχίες, τις ευαισθησίες, τους φόβους και τις προσδοκίες μας. Περιστρέφεται, παλινδρομεί και επιστρέφει. Στροβιλιζόμαστε στον ωκεανό του διαδικτύου. Περίτεχνοι, επικεντρωμένοι στην ιστορία, την πολιτική, την κοινωνία,το μαύρο χιούμορ. Γράφουμε ιστορίες. Με μια φιλοδοξία: να διαβαστούν και αν έχουν ενδιαφέρον να προκαλέσουν αντιδράσεις." />
    <!-- TODO: Create Custom context processor to supply the domain when deployed -->
    <meta property="og:image"       content="https://strovilos.gr{{ posts_paginated.1.image.image.url }}" />
    <meta property="og:site_name"   content="Στρόβιλος - Περιστρέφεται, παλινδρομεί και επιστρέφει"/>
{% endblock %}
{% block content %}
<!-- Latest Posts / Slider -->
<div class="row clearfix">
    <div class="c-slider">
        <h2 class="section-header">Τελευταία Άρθρα</h2>
        <div class="my-slider">
            <ul>
                {% for p in latest_posts %}
                    <li>
                        <article class="box highlight">
                            <a href="{% url 'main:articles' post_id=p.id %}" class="image left"><img src="{{p.image.image.url }}" alt="" /></a>
                            <div class="c-slider__text">
                                <h3><a href="{% url 'main:articles' post_id=p.id %}">{{ p.title|trunc:TITLE_COUNT }}</a></h3>
                                <div class="c-slider__desc">{{ p.text|trunc:DESC_COUNT }}</div>
                                <a href="{% url 'main:articles' post_id=p.id %}" class="c-slider__btn c-btn">Συνεχίστε Εδω</a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Quote -->
    <div class="c-quote">
        <h2 class="section-header">Παραφορές</h2>
        <h3>{% if quote %} {{quote.text }} {% endif %}</h3>
        <p class="c-quote__author"> <span class="c-quote__dash">&mdash;</span> {% if quote %} {{quote.author }} {% endif %}</p>
    </div>
</div>

<!-- Main Posts -->
<div class="row">
    <div id="content" class="12u(mobile)">
        <article class="box post">
            <header>
                <h2 class="section-header">{{ main_title }}</h2>
            </header>
        </article>
        <!-- Post -->
        {% for p in posts_paginated %}
            <article class="box post c-post">
                <a href="{% url 'main:articles' post_id=p.id %}" class="image featured c-post__img">
                    <img src="{{ p.image.image.url }}" alt=""/>
                </a>
                <header class="c-post__head">
                    <h2><a href="{% url 'main:articles' post_id=p.id %}">{{ p.title|trunc:TITLE_COUNT }}</a></h2>
                </header>
                <div class="c-post__desc">{{ p.text|trunc:DESC_COUNT }}</div>
                <ul class="actions c-post__view">
                    <li><a href="{% url 'main:articles' post_id=p.id %}" class="c-btn c-btn--secondary">Διαβάστε Περισσότερα</a></li>
                </ul>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock%}

{% block pagination %}
    <!-- Pagination -->
    {% if not posts_paginated.paginator.num_pages == 1 %}
        <section>
            <nav id="pagination" role="navigation">
                <ul class="cd-pagination no-space custom-buttons">
                    {% if not posts_paginated.has_previous %}
                        <li class="button"><a class="disabled" href="#">Prev</a></li>
                        <li><a class="current" href="#">1</a></li>
                        {% if posts_paginated.paginator.num_pages > 2 %}
                            <li><span>...</span></li>
                        {% endif %}
                        <li><a href="?page={{ posts_paginated.paginator.num_pages }}">{{ posts_paginated.paginator.num_pages }}</a></li>
                        <li class="button"><a href="?page={{ posts_paginated.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="button"><a href="?page={{ posts_paginated.previous_page_number }}">Prev</a></li>
                        <li><a href="?page=1">1</a></li>
                        {% if not posts_paginated.number == 2 %}
                            <li><span>...</span></li>
                        {% endif %}        
                        <li><a class="current" href="?page={{ posts_paginated.number }}">{{ posts_paginated.number }}</a></li>
                        {% if posts_paginated.has_next %}
                            {% if not posts_paginated.next_page_number == posts_paginated.paginator.num_pages %}<li><span>...</span></li> {% endif %}
                            <li><a href="?page={{ posts_paginated.paginator.num_pages }}">{{ posts_paginated.paginator.num_pages }}</a></li>
                            <li class="button"><a href="?page={{ posts_paginated.next_page_number }}">Next</a></li>    
                        {% else %}
                            <li class="button"><a class="disabled" href="#">Next</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav> 
        </section>
    {% endif %}
{% endblock %}

{% block extra_javascript %}
    <script src="{% static "main/assets/js/ajaxreqs.js" %}"></script>
{% endblock %}