{% extends 'main/base.html' %}
{% load custom_filters %}

{% block extra_head %}
    <meta property="og:url"		content="http://139.59.175.70{{ request.path }}" />
    <meta property="og:type"		content="article" />
    <meta property="og:title"		content="{{ main_post.title }}"/>
    <meta property="og:description"	content="{{ main_post.text|safe|striptags|truncatewords:20 }}" />
	<!-- TODO: Create Custom context processor to supply the domain when deployed -->
    <meta property="og:image"		content="http://139.59.175.70{{ main_post.image.image.url }}" />
    <meta property="article:author"	content="https://www.facebook.com/profile.php?id=100008762674761" />
    <meta property="og:site_name"	content="Strovilos"/>
{% endblock %}
{% block content %}
<div class="row">
    <!-- Main Post -->
    <div id="content" class="8u 12u(mobile)">
        <article class="box post">
            <header>
                <h2 class="section-header--big section-header">{{ main_post.title }}</h2>
            </header>
            <p class="post__author"> Αρθρογράφος: {{ main_post.author.first_name }} {{ main_post.author.last_name }} </p> 
            <p class="post__date"> {{ main_post.pub_date|date:"d/m/Y" }} </p>
            <span class="image featured"><img src="{{ main_post.image.image.url }}" alt="" /></span> 
            <div class="pic">{{ main_post.text|safe}}</div>
        </article>
    </div>
    <!-- Sidebar -->
    <div id="sidebar" class="4u 12u(mobile)">
        <section>
            <header>
                <h2 class="section-header">Πρόσφατα Άρθρα</h2>
            </header>
            <ul class="divided">
                {% for p in latest_posts %}
                    <li class="sidebar__article">
                        <article class="box highlight clearfix">
                            <a href="{% url 'main:articles' post_id=p.id %}" class="image sidebar__img">
                                <img src="{{p.image.image.url }}" alt=""/>
                            </a>
                            <div class="sidebar__text">
                                <h3 class="sidebar__title">{{ p.title|trunc:TITLE_COUNT }}</h3>
                                <div class="sidebar__desc">{{ p.text|trunc:DESC_COUNT }}</div>
                                <p class="sidebar__author">έγραψε ο {{ p.author.first_name }} {{ p.author.last_name }} </p>
                                <a href="{% url 'main:articles' post_id=p.id %}" class="c-btn">Συνεχίστε Εδώ</a>
                            </div>  
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}
