{% extends 'main/base.html' %}
{% load custom_filters %}

{% block extra_head %}
    <meta property="og:url"		content="https://strovilos{{ request.path }}" />
    <meta property="og:type"		content="article" />
    <meta property="og:title"		content="{{ main_post.title }}"/>
    <meta property="og:description"	content="{{ main_post.text|safe|striptags|truncatewords:20 }}" />
	<!-- TODO: Create Custom context processor to supply the domain when deployed -->
    <meta property="og:image"		content="https://strovilos.gr{{ main_post.image.image.url }}" />
    <meta property="article:author"	content="https://www.facebook.com/profile.php?id=100008762674761" />
    <meta property="og:site_name"	content="Strovilos"/>
{% endblock %}

{% block extra_admin_nav %}
    <li>
        <a href="{% url 'admin:main_posts_change' main_post.id %}"><span>Επεξεργασία Άρθρου</span></a>
    </li>
{% endblock %}

{% block content %}
<div class="row">
    <!-- Main Post -->
    <div id="content" class="8u 12u(mobile)">
        <article class="box post">
            <header>
                <h2 class="section-header--big section-header">{{ main_post.title }}</h2>
            </header>
            <p class="post__author"> <a href="{% url 'main:authors' author_id=main_post.author.id %}"> Αρθρογράφος: {{ main_post.author.first_name }} {{ main_post.author.last_name }} </a> </p> 
            <p class="post__date"> {{ main_post.pub_date|date:"d/m/Y" }} </p>
            <div id=share-fb class="c-share--fb">
            </div>
            <span class="image featured"><img src="{{ main_post.image.image.url }}" alt="" /></span> 
            <div class="pic">{{ main_post.text|safe}}</div>
        </article>
         <div class="other_posts__container">
            {% if previous_post %}
                <div class="other_posts__previous_post"><a class="c-btn" href="{% url 'main:articles' post_id=previous_post.id %}">Προηγούμενο Άρθρο</a></div>
            {% endif %}
            {% if next_post %}
                <div class="other_posts__next_post"><a class="c-btn" href="{% url 'main:articles' post_id=next_post.id %}">Επόμενο Άρθρο</a></div>
            {% endif %}
        </div>
    </div>
    <!-- Sidebar -->
    <div id="sidebar" class="4u 12u(mobile)">
        <section>
            <header>
                <h2 class="section-header">Πρόσφατα Άρθρα</h2>
            </header>
            <ul class="divided">
                {% for p in latest_posts %}
                    <li class="sidebar__article">
                        <article class="box highlight clearfix">
                            <a href="{% url 'main:articles' post_id=p.id %}" class="image sidebar__img">
                                <img src="{{p.image.image.url }}" alt=""/>
                            </a>
                            <div class="sidebar__text">
                                <h3 class="sidebar__title">{{ p.title|trunc:TITLE_COUNT }}</h3>
                                <div class="sidebar__desc">{{ p.text|trunc:DESC_COUNT }}</div>
                                <p class="sidebar__author">έγραψε ο <a href="{% url 'main:authors' author_id=p.author.id %}">{{ p.author.first_name }} {{ p.author.last_name }} </a> </p>
                                <a href="{% url 'main:articles' post_id=p.id %}" class="c-btn">Συνεχίστε Εδώ</a>
                            </div>  
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}
